* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    div.center {
        width: 500px;
        border: 2px solid gray;
        padding: 12px;
         
        div.head {
            h1 {
                text-align: center;
                color: red;
                border-bottom: 1px solid gray;
            }
        }

        div.flex1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div.left {
                display: flex;
                flex-direction: column;
                gap: 8px;

                input {
                    padding: 8px;
                }
            }

            div.right {
                display: flex;
                flex-direction: column;
                gap: 8px;

                input {
                    padding: 8px;
                }
            }
        }

        div#btn{
            text-align: center;
            padding: 8px;
            margin-top: 16px;
            font-weight: 700;
            cursor: pointer;
        }

        div#btn:hover{
            background-color: gray;
        }
    }
}


p.paragraph{
    text-align: center;
}